DataAccess/Web References/PublishDocumentToSPSite/PublishDocToSP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.tcdsb.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.tcdsb.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.tcdsb.org/">
      <s:element name="Documents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolyear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocumentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocumentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocumentByNameAndParameter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportParameters" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolyear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolBrief" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocumentByNameAndParameterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocumentByNameAndParameterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocumentByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Category" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolyear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolBrief" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocumentByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocumentByCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocumentByCategoryToSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Category" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolyear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolBrief" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentCategory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentCategoryBrief" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentLibrary" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocumentByCategoryToSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocumentByCategoryToSiteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SLIPPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolyear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_schoolBrief" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Document" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SLIPPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SLIPPDFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DocumentsSoapIn">
    <wsdl:part name="parameters" element="tns:Documents" />
  </wsdl:message>
  <wsdl:message name="DocumentsSoapOut">
    <wsdl:part name="parameters" element="tns:DocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentByNameAndParameterSoapIn">
    <wsdl:part name="parameters" element="tns:DocumentByNameAndParameter" />
  </wsdl:message>
  <wsdl:message name="DocumentByNameAndParameterSoapOut">
    <wsdl:part name="parameters" element="tns:DocumentByNameAndParameterResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:DocumentByCategory" />
  </wsdl:message>
  <wsdl:message name="DocumentByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:DocumentByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentByCategoryToSiteSoapIn">
    <wsdl:part name="parameters" element="tns:DocumentByCategoryToSite" />
  </wsdl:message>
  <wsdl:message name="DocumentByCategoryToSiteSoapOut">
    <wsdl:part name="parameters" element="tns:DocumentByCategoryToSiteResponse" />
  </wsdl:message>
  <wsdl:message name="SLIPPDFSoapIn">
    <wsdl:part name="parameters" element="tns:SLIPPDF" />
  </wsdl:message>
  <wsdl:message name="SLIPPDFSoapOut">
    <wsdl:part name="parameters" element="tns:SLIPPDFResponse" />
  </wsdl:message>
  <wsdl:portType name="PublishDocToSPSoap">
    <wsdl:operation name="Documents">
      <wsdl:input message="tns:DocumentsSoapIn" />
      <wsdl:output message="tns:DocumentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DocumentByNameAndParameter">
      <wsdl:input message="tns:DocumentByNameAndParameterSoapIn" />
      <wsdl:output message="tns:DocumentByNameAndParameterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DocumentByCategory">
      <wsdl:input message="tns:DocumentByCategorySoapIn" />
      <wsdl:output message="tns:DocumentByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DocumentByCategoryToSite">
      <wsdl:input message="tns:DocumentByCategoryToSiteSoapIn" />
      <wsdl:output message="tns:DocumentByCategoryToSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SLIPPDF">
      <wsdl:input message="tns:SLIPPDFSoapIn" />
      <wsdl:output message="tns:SLIPPDFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PublishDocToSPSoap" type="tns:PublishDocToSPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Documents">
      <soap:operation soapAction="http://www.tcdsb.org/Documents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentByNameAndParameter">
      <soap:operation soapAction="http://www.tcdsb.org/DocumentByNameAndParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentByCategory">
      <soap:operation soapAction="http://www.tcdsb.org/DocumentByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentByCategoryToSite">
      <soap:operation soapAction="http://www.tcdsb.org/DocumentByCategoryToSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SLIPPDF">
      <soap:operation soapAction="http://www.tcdsb.org/SLIPPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PublishDocToSPSoap12" type="tns:PublishDocToSPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Documents">
      <soap12:operation soapAction="http://www.tcdsb.org/Documents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentByNameAndParameter">
      <soap12:operation soapAction="http://www.tcdsb.org/DocumentByNameAndParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentByCategory">
      <soap12:operation soapAction="http://www.tcdsb.org/DocumentByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentByCategoryToSite">
      <soap12:operation soapAction="http://www.tcdsb.org/DocumentByCategoryToSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SLIPPDF">
      <soap12:operation soapAction="http://www.tcdsb.org/SLIPPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublishDocToSP">
    <wsdl:port name="PublishDocToSPSoap" binding="tns:PublishDocToSPSoap">
      <soap:address location="http://webservice.tcdsb.org/DocumentToSPSite/PublishDocToSP.asmx" />
    </wsdl:port>
    <wsdl:port name="PublishDocToSPSoap12" binding="tns:PublishDocToSPSoap12">
      <soap12:address location="http://webservice.tcdsb.org/DocumentToSPSite/PublishDocToSP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>